body {
	margin: 0;
}
section {
	width: 50%;
	background-color: #f5f5f5;
}
.responsive-template {
	
	float: left;
	width: 33%;
	margin: 10% 1% 10% 16%;
	/*overflow: hidden;*/
}
.fully-template {
	position: relative;
	float: left;
	width: 33%;
	margin: 10% 16% 10% 1%;
	/*overflow: hidden;*/
}
img {
	display: block;
	max-width: 100%;
}
h2 {
	text-transform: uppercase;
	font-size: 1vw;
	font-family: 'Myriad Pro Regular';
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}
h2:before {
	content: "";
	position: absolute;
	bottom: 0;
	width:100%;
	height: 1px;
	background-color: red;
}
p {
	font-family: 'Myriad Pro Regular';
	font-size: 1vw;
	max-width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
button {
	background-color: #50c3af;
	border-radius: 30px;
	color: #fff;
	padding: 5%;
	width: 50%;
	font-size: 1vw;
	border:none;
}
hr {
	position: relative;
	display: block;
	opacity: 0.3;
	width: 100%;
}
a {
	border: 2px;
	border-radius: 30px;
	color: #fff;
	padding: 5%;
	width: 100%;
	font-size: 1vw;
	background-color: #50c3af;


}

