body {
	margin-top: 50px;
}
#wrap {

	width: 1292px;
	height: 	488px;
}
div .about-us {
	position: relative;
    border: 2px solid black;
	width: 800px;
	margin:100px 200px 0 200px;
	text-align: center;
	border-top: none;
	
}	

h1 {
	position: absolute;
	text-transform: uppercase;
	top: -47px;
}
h1:before {
	display: inline-block;
    margin: 0 20px 2px 0;
    height: 2px;
    content: " ";
    background-color: #000;
    width: 298.5px;
}
h1:after {
   	display: inline-block;
    margin: 0 0 2px 20px;
    height: 2px;
    content: " ";
    background-color: #000;
    width: 298.5px;
}
p {
	padding-top: 20px;
}
	section {
		position: relative;
	width: 400px;
	padding-left: 200px;

}
