
body {
	width: 100%;
	font-family: 'Myriad Pro Regular';
}
main {
	width: 100%;
}
 h1 {
	font-size: 2vw;	
}
h2 {
	font-size: 1vw;
	text-transform: uppercase;
	color: #40474e;
}
p {
	font-size: 1vw;
	color: #9d9fa2;
	padding-bottom: 5%;
}
img {
	display: block;
	max-width: 100%;
}
a {
	text-decoration: none;
	color: #fff;
}
ul {
	margin: 0;
}
li {
	list-style-type: none;
	display: inline-block;
	font-size: 1vw;
	margin: 5%;
}
span {
	 font-family: 'Mistral', 'Monotype Corsiva';
	 font-size: 4vw;
	 text-transform: none;
}
.header-wrap { /*header  positioning */
	width: 100%;	
	max-width: 800px;
	margin: 0 auto;
	background: url('../header-pct.png') 0px 0px / contain no-repeat;
	background-size: 100%;
	overflow:hidden;
}
.one-wrap {
	text-align: center;
}
.one-wrap,.three-wrap, .five-wrap {/*positioning section wrap */
	width: 100%;
	background-color: #eeeeef;
	overflow:hidden;
	max-width: 800px;
	margin: 0 auto;
}
.two-wrap,.four-wrap, .six-wrap {/*positioning section wrap */
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	background-color: #f5f5f5; 
	overflow:hidden;
}
.header { /*header content */
	 position:relative;
	 text-align: center;		
	 color: #fff;
	 font-weight: bold;
	 text-transform: uppercase;
	 margin: 10% 0 0% 0;
	 padding-bottom:10%;
}
.header h2 {
	color:#fff;
}
.header h2:before {
	content:"";
	position:absolute;
	top:53%;
	left:10%;
	height:2px;
	width:20%;
	background:#486a68;
}
.header h2:after {
	content:"";
	position:absolute;
	top:53%;
	right:10%;
	height:2px;
	width:20%;
	background:#486a68;
}
.one { /* first section content */	
    float: left;
    width: 22%;    
    position: relative;
}
.one:nth-child(1) {
	margin: 15% 2% 10% 13%;
}
.one:nth-child(2) {
	margin: 15% 2% 10% 2%;
}
.one:nth-child(3) {
	margin: 15% 13% 10% 2%;
}
.one h2:before {
	content: "";	
	width: 33%;
	height: 33%;
	position: absolute;
	top: -44%;
	left: 35%;
} 
.img1 h2:before {
	background: url('../professionals-icon.png') 0 0 / contain no-repeat;
}
.img2 h2:before {
	background: url('../amateurs-icon.png') 0 0 / contain no-repeat;	
}
.img3 h2:before {
	background: url('../for-everyone-icon.png') 0 0 / contain no-repeat;
}
.two-left { /*second section content */
	float: left;
	width: 33%;
	margin: 15% 4% 10% 13%;
	position: relative;
}
.two-right {
	float:left;
	width: 33%;
	margin: 15% 13% 10% 4%;
	position: relative;
	padding-left: 0;
}
.two-wrap h2 {
	font-size: 0.98vw;
}
.three { /*third section content */
	margin: 10% 13% 10% 13%;
	position: relative;
}
.three h2 {
	padding-left: 10%;
}
.three h2:before {
	content: "";
	background: url('../mini-icon.png') 0 0 / contain no-repeat;
	width: 8%;
	height: 8%;
	position: absolute;
	top: 0%;
	left: 5%;
}
.four { /*fourth section content */
	float: left;
	width: 22%;
	padding: 10% 0 10% 0;
	position: relative;
}
.four:first-child {
	margin: 0 2% 0 13%;
 }	
 .four:last-child {
 	margin: 0 13% 0 2%;
 }
 .four h2 {
	font-size:0.9vw;
 	margin-top: 10%;
 }
 .four a {
 	color: #50c3af;
	font-size:1vw;
}
 .four a:after {
 	content: ">";
 	margin-left: 10px;
 } 
 .five-left { /*fifth section content */
 	float: left;
 	width: 33%;
 	margin: 10% 4% 10% 13%; 
 	position: relative;
 }
 .five-right {
 	float: left;
 	width: 33%;
 	margin: 10% 13% 10% 4%;
 	position: relative;
 }
 .five-wrap h2 {
 	padding-left: 15%;
 }
.five-left h2:before, .five-right h2:before  {
	content: "";	
	width: 15%;
	height: 15%;
	position: absolute;
	top: 5%;
	left: 0%;
	position: absolute;
}
.send-img h2:before {
	background: url('../send-icon.png') 0 0 / contain no-repeat;
}
.pen-img h2:before {
	background: url('../pen-icon.png') 0 0 / contain no-repeat;
}
.six-left { /*sixth section content */
 	float: left;
 	width: 33%;
 	margin: 10% 4% 10% 13%; 
 	position: relative;
 }
 .six-right {
 	float: left;
 	width: 33%;
 	margin: 10% 13% 10% 4%;
 	position: relative;
 }
.six-right h2 { 
	font-size: 0.97vw;
}
.footer-adds { /*footer content */
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	background-color: #50c3af;
	position: relative;
	overflow: hidden;
}
.footer-adds h2 {
	color: #fff;
	text-align: center;
	margin: 10% 0 5% 0; 
}
.footer-adds h2:before {
	content: "";
	background: url('../star-icon.png') 0 0 / contain no-repeat;
	width: 6%;
	height: 6%;
	position: absolute;
	top: 33%;
	left: 28%;
}
.footer-adds li:first-child {
	margin-left: 5%;
	font-size: 1.5vw;
	font-family: 'Mistral', 'Monotype Corsiva';
}
.footer-adds li:nth-child(2) {
	margin-left: 2%;
	font-size: 1.5vw;
	font-family: 'Calibri';
}
.footer-adds li:nth-child(3) {
	margin-left: 2%;
	font-size: 1.5vw;
	font-family: 'Century Gothic';
}
.footer-adds li:last-child {
	margin-right: 5%;
	font-size: 1.5vw;
	font-family: 'Aharoni';
}
.copyright {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #f5f5f5;
	position: relative;
}
.copyright p {
	padding-left: 13%;
}
.copyright a {
	position: absolute;
	width: 3%;
	height: 3%;
	top: 20%;
}
.copyright a:nth-child(1) {
	right: 27%;
}
.copyright a:nth-child(2) {
	right: 20%;
}
.copyright a:nth-child(3) {
	right: 13%;
}
.header-button { /*header buttton*/
	margin-top: 10%;
	display:inline-block;
	border: 0;
	border-radius: 30px;
	width: 30%;	
	background-color: #50c3af;
	font-size:1vw;
	padding: 2% 4% 2% 4%;
}
.button-read-more-green { /*section buttons green color*/
	background-color: #50c3af;
	border-radius: 30px;
	color: #fff;
	width: 70%;
	padding: 2% 4% 2% 4%;
	font-size: 1vw;
	border:none;
}
.button-read-more-gray { /*section buttons gray color*/
	background-color: #d2d5da;
	border-radius: 30px;
	color: #fff;
	width: 70%;
	padding: 2% 4% 2% 4%;
	font-size: 1vw;
	border:none;
}
.one-wrap hr { /*first section <hr> element positioning */ 
	border:0;
	width: 80%;
	background-color: #e2e3e4;
	height: 2px;
}
.two-wrap hr, .four-wrap hr, .six-wrap hr { /*hr element, stylized with linear gradient */ 
    border: 0;
    height: 2px;
    background: #e9e9ea;
    background-image: -webkit-linear-gradient(left, #e9e9ea, #efefef, #f3f3f3); 
    background-image:    -moz-linear-gradient(left, #e9e9ea, #efefef, #f3f3f3); 
    background-image:     -ms-linear-gradient(left, #e9e9ea, #efefef, #f3f3f3); 
    background-image:      -o-linear-gradient(left, #e9e9ea, #efefef, #f3f3f3); 
}
.three-wrap hr, .five-wrap hr { /*hr element, stylized with linear gradient */ 
    border: 0;
    height: 2px;
    background: #e2e3e4;
    background-image: -webkit-linear-gradient(left, #e2e3e4, #e4e4e6, #e8e8e9); 
    background-image:    -moz-linear-gradient(left, #e2e3e4, #e4e4e6, #e8e8e9); 
    background-image:     -ms-linear-gradient(left, #e2e3e4, #e4e4e6, #e8e8e9); 
    background-image:      -o-linear-gradient(left, #e2e3e4, #e4e4e6, #e8e8e9); 
}
.footer-adds hr { /*footer <hr> element positioning */ 
	position: absolute;
	top: 40%;
	left: 25%;
	border:1;
	height: 2px;
	opacity: 0.3;
	width: 45%;
}
.cf { /*clear float */
	clear:both;
}