body {
	background-color: #ecf0f1; 
	font-family: 'Arial', sans-serif;
}
h1, h2 {
	text-transform:uppercase;
}
p {
	padding: 0 5px 0 5px;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
}
header { /*navigation bar*/
	width: 614px;
	text-transform: uppercase;
	font-weight: bold;
	word-spacing: 15px;
	background-color: white;
	padding: 20px 0 20px 0;	
	margin-left:5px;
	margin-top:20px;
}
header li {
	display: inline;
	margin: 10px 25px 10px 25px;
}
header li a {	
	color: #2a99d6;
}
main { /*main content width*/
	width: 660px;
}
.box {
    margin: 5px;
    float: left;
}
.box1, .box2, .box3, .box4 {
	width: 302px;
	height:500px;
	overflow:hidden;
}
 .box1 {	
	color: white;
	text-align: center;
	background-color: #2a99d6;
}
.sub-box1 {
	margin: 0 30px 0 30px;
}
.box2 {
	background: #3eba77;
	color: white;
}
.box2 h2 {
	font-size: 15px;
	padding-left: 10px;
}
.box2 img .ocean { 
	width: 305px;
	height:375px;
}
.photography {
	position: relative;
	padding-left: 10px;
}
.likes1 {
	position: absolute;
	top: 0px;
	right: 100px;	
}
.likes2 {
	position: absolute;
	top: 0px;
	right: 30px;	
}
.box3, .box4 {
	background-color: white;
	text-align: center;
	position: relative;
}
.box1 button, .box3 button, .box4 button {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	width: 200px;
	height: 50px;
	margin:40px 50px 0 50px;
	border:none;
}
.box1 button {
	background-color: #f2c345;
}
.box3 button, .box4 button {
	background-color: #2a99d6;
}
.box3 input {
	width: 200px;
	height: 40px;
	margin: 5px;
	padding: 5px;
	font-style: italic;
	background-color: #ecf0f1;
}
.box4 h1 {
	text-transform:none;
}
.box4-close{
	position: absolute; 
	top: 10px;
	right: 10px;
}
.box4-goods {
overflow:hidden;
padding: 30px 5px 20px 5px;
margin-top:20px;
}
.goods-left1, .goods-left2,.goods-left3,.goods-left4 {
float:left;
text-align:left;
clear:both;
}
.goods-right {
float:right;
text-align:right;
}
.goods-left1:after {
display: inline-block;
content:"";
border-top: 1px dashed black;
width:190px;
}
.goods-left2:after {
display: inline-block;
content:"";
border-top: 1px dashed black;
width:120px;
}
.goods-left4:after, .goods-left3:after {
display: inline-block;
content:"";
border-top: 1px dashed black;
width:205px;
}
.heart-logo {
padding:20px 0 20px 0;
}
.heart-logo a {
text-transform:uppercase;
color:gray;
}
.heart-logo:before {
	display: inline-block;
	content: "";
	background: url('../box_4_icon_2.png') 0px 0px / contain no-repeat;
	width: 20px;	
	height: 18px;
}
.box4 button:before {
	display: inline-block;
      position:relative;
	left:-10px;
	top: 5px;
	content: "";
	background: url('../box_4_icon_3.png') 0px 0px / contain no-repeat;
	width: 36px;	
	height: 30px;
}
footer {
	width: 614px;
	background-color: #0c161e;
	overflow: hidden;
	margin-left: 5px;
	margin-bottom:20px;
}
.foot {
	width: 210px;
	float: left;
	margin:0 20px 20px 10px;
}	
.foot h3 {
	text-transform: uppercase;
	color: #2a99d6 ;
	padding-left: 20px;
}
.foot ul{
	list-style-type: none;
	padding-left: 20px;
	color: white;
	margin: 0;
}
footer .foot:last-child {
float:right;
width:100px;
}
