footer {
	width: 100%;
	margin: 100px 200px 0 200px;
	position: relative;
}

.contact-us {
	width: 800px;
	border: 2px solid black;
	text-align: center;
	border-top: none;
	padding-bottom: 20px;
}
.contact-us h1 {
	text-transform: uppercase;
	position: relative;
	top: -24px;
}
.contact-us h1:before {
	display: inline-block;
	content: "";
	position: relative;
	height: 2px;
	width: 235.5px;
	margin: 0px 60px 3px 0px;
	background-color: black;
}
.contact-us h1:after {
	display: inline-block;
	content: "";
	height: 2px;
	width: 235.5px;
	margin: 0px 00px 3px 60px;
	background-color: black;
}
.contact-us p {
	text-align: center;
	padding:20px 100px 20px 100px;
}

input[type] {
	width: 400px;
	height: 50px;
	background-color: #3c3c3c;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
	border: none;
}

.copy {
	width: 800px;
	text-align: center;
	position: relative;
}
.copy p:before {
	content: "";
	background: url('../logo-footer.png') 0px 0px / contain no-repeat;
	height: 47px;
	width: 50px;
	position: absolute;
	top: -10px;
	left: 200px;	
}