body {
	margin: 0;			
}
.heading {
	width: 100%;
} 
header {
	background: url('../header.png') 0px 0px / contain no-repeat;
	background-size: 100%;
}
.content {
	margin:0px 300px 0px 450px;
	font: lato;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-transform: uppercase;		
}
.content h1 {
	letter-spacing: 16px;
	font-size: 2vw;
}
.content p {
	padding-top: 10px;
	font-size: 1vw;
	line-height: 10px;
}
.link {
	padding-top: 50px;
	padding-bottom: 50px;
}

/*Start About us box*/ 

.about-wrap, .services-wrap, .what-wrap {
	width: 100%;
	position: relative;
}
.about-us, .services, .what-we-do {
    border: 3px solid black;
	margin:60px 200px 30px 400px;
	width: 800px;
	text-align: center;
	border-top: none;	
}	
.about-us h1 {
	position:relative;
	text-transform: uppercase;
	top: -24px;
}
.about-us h1:before {
    display: inline-block;
    margin: 0 60px 2px 0;
    height: 2px;
    content: " ";
    background-color: #000;
    width: 259px;
}
.about-us h1:after {
    display: inline-block;
    margin: 0 0 2px 60px;
    height: 2px;
    content: " ";
    background-color: #000;
    width: 258px;
}
.about-us p {
	padding: 0 50px 0 50px;
	font-size: 20px;
	line-height: 30px;	
}
/*end about us*/
/*Start Services*/
.services-wrap {
	height:488px;
	background: url('../services.png') 0px 0px / contain no-repeat;
	background-size: 100%;	
}
.services {
	position: absolute;
	top: 100px;
    border: 3px solid #fff;
	border-top: none;	
}	
.services h1 {
	position: absolute;
	text-transform: uppercase;
	top: -46px;
	color: white;
}
.services h1:before {
    display: inline-block;
    margin: 0 60px 2px 0;
    height: 2px;
    content: " ";
    background-color: #fff;
    width: 255px;
}
.services h1:after {
    display: inline-block;
    margin: 0 0 2px 60px;
    height: 2px;
    content: " ";
    background-color: #fff;
    width: 264.5px;
}
.services p {
	padding: 0px 50px 0 50px;
	font-size: 20px;
	line-height: 30px;	
	color: white;
}

/*finish Services*/
/*what we do*/

.what-we-do {
    border: 3px solid #000;
	text-align: center;
	border-top: none;	
}	
.what-we-do h1 {
	position: relative;
	text-transform: uppercase;
	top: -25px;
}
.what-we-do h1:before {
    display: inline-block;
    margin: 0 60px 2px 0;
    height: 2px;
    content: " ";
    background-color: #000;
    width: 230.5px;
}
.what-we-do h1:after {
    display: inline-block;
    margin: 0 0 2px 60px;
    height: 2px;
    content: " ";
    background-color: #000;
    width: 230.5px;
}
.what-we-do p {
	padding: 0px 50px 0 50px;
	font-size: 20px;
	line-height: 30px;		
}
span p {
	text-transform: uppercase;
	font-weight: bold;
}

/*end what we do*/

/*navigation 6 boxes*/

footer {
	width: 100%;
	float: left;
}
.topworkz {
	width: 29%;
	background:  url('../img1.png') no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
	position: relative;
}
.joint {
	width: 40%;
	background: url('../img2.png') no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
}
.market {
	width: 29%;
	background:  url('../img3.png') no-repeat;
	background-size: 100%;
	float: left;
}
.worktop {
	width: 29%;
	background: url('../img4.png') no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
}
.lable {
	width: 40%;
	background:  url('../img5.png') no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
}
.kyiv {
	width: 29%;
	background: url('../img6.png') no-repeat;
	float: left;
}
.row h2 {
	padding-left: 30px;
	font-size: 2vw;
	text-transform: uppercase;
}
.row a {
	color: #fff;
	text-decoration: none;
}
.row a:hover {
	text-decoration: underline;
	text-shadow: 2px 2px black;
}
.row {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
/*	finish navigation */

