
body {
	margin: 0;
}
.topworkz {
	width: 29%;
		background:  url('../img1.png') 0px 0px / contain no-repeat;
		background-size: 100%;
	float: left;
	margin-right: 1%;
	position: relative;
}
.joint {
	width: 40%;
	background: url('../img2.png') 0px 0px / contain no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
}
.market {
	width: 29%;
	background:  url('../img3.png') 0px 0px / contain no-repeat;
	background-size: 100%;
	float: left;
}
.worktop {
	width: 29%;
	background: url('../img4.png') 0px 0px / contain no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
}
.lable {
	width: 40%;
	background:  url('../img5.png') 0px 0px / contain no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
}
.kyiv {
	width: 29%;
	background: url('../img6.png') 0px 0px / contain no-repeat;
	background-size: 100%;
	float: left;
}
h2 {
	font-size: 2vw;
	text-transform: uppercase;
	padding-left: 30px;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-shadow: 2px 2px black;
}
.row1 {
	left: 0;
	right: 0;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.row2 {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

