/*Services*/
body {
	margin: 0;	
	color: #fff;
}
#wrap {
	width:100%; 
	height:488px;
	background: url('../services.png') 0px 0px / contain no-repeat;
	background-size: 100%;	
}
div .services {
	position: absolute;
	top: 100px;
	left: 200px;
    border: 3px solid #fff;
	width: 800px;
	margin:0px 200px 0 200px;
	text-align: center;
	border-top: none;	
}	
.services h1 {
	position: absolute;
	text-transform: uppercase;
	top: -47px;
}
.services h1:before {
	display: inline-block;
    margin: 0 20px 2px 0;
    height: 2px;
    content: " ";
    background-color: #fff;
    width: 298.7px;
}
.services h1:after {
   	display: inline-block;
    margin: 0 0 2px 20px;
    height: 2px;
    content: " ";
    background-color: #fff;
    width: 302px;
}
.services p {
	padding: 0px 50px 0 50px;
	font-size: 20px;
	line-height: 30px;	
}
.services {
	margin-top: 30px;
}

/*finish about us*/