/*what we do*/
body {
	margin: 0;	
	color: #000;
}
#wrap {
	width:100%; 
	height: 100%;
		
}
div .what-we-do {
	position: absolute;
	top: 100px;
	left: 200px;
    border: 3px solid #000;
	width: 800px;
	margin:0px 200px 0 200px;
	text-align: center;
	border-top: none;	
}	
.what-we-do h1 {
	position: relative;
	text-transform: uppercase;
	top: -47px;
}
.what-we-do h1:before {
	display: inline-block;
    margin: 0 60px 2px 0;
    height: 2px;
    content: " ";
    background-color: #000;
    width: 231.85px;
}
.what-we-do h1:after {
   	display: inline-block;
    margin: 0 0 2px 60px;
    height: 2px;
    content: " ";
    background-color: #000;
    width: 231.8px;
}
.what-we-do p {
	padding: 0px 50px 0 50px;
	font-size: 20px;
	line-height: 30px;		
}
span p {
	text-transform: uppercase;
	font-weight: bold;
}
.what-we-do {
	margin-top: 30px;
}

/*end what we do*/