.wrapper {
	position:  relative;
	display: 1px;
	overflow: hidden;
	background-color: black;

}
 .float {
 	position: ;
 	display: 
 	float: left;
 	padding: 2px;
 	box-sizing:border box;	


 }

.small-column {
	width: 100px;
	padding: 3px;
	height: 100px;
	background: default;

}

.content {

	font: "verdana";
	color: white;
	position: center;

}
.big-column {

	width: 100px;
	height: 200px;
	background: default;

}