
.box-model-inline {
	width: px;
	border: 2px solid #000;
	background-color: #666;
	font-size: 2.5vw;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	color: blue;
	float: center;
	margin: 3px;
}

.property {
	
	color: blue;
} 
.value {
	
	color: red;

}



