
.basic-box {
	width: 100px;
	height: 100px;
	border: 3px solid #000;
	background-color: #ccc;
	padding: 20px;
	margin: 30px;
	overflow: hidden;
	
}
.inner-box {
	width: 20%;
	height: 50px;
	margin: 0 2%;
	float: left;
	background-color: #ff0000;
	border: 1px solid lime;

}
