body {
	margin: 0;			
}
h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	font-size: 2vw;
	text-transform: uppercase;
	text-align: center;
	letter-spacing:0.2vw;
}
h3 {
	font-size: 1.3vw;
}
p {
	font-family: 'Lato', sans-serif;
	text-transform: none;
	font-size: 1.2vw;
	text-align: center;
	word-spacing: 0.2vw;
	line-height:140%;
}
.heading {
	background: url('../header.png') 0px 0px / contain no-repeat;
	background-size: 100%;
	color: #fff;
	height: auto;
	overflow:hidden;
}
.heading-wrap {
	margin: 10% 0 0 0;	
}
.heading-wrap .logo {
	position: relative;
	left: 48%;
	width: 4%;
}
.heading-wrap .link {
	position: relative;
	left: 49%;
	width: 2%;
	padding-top: 10%;
	padding-bottom: 15%;
} 
/* end Heading*/
 /* Main content */
.content-wrap { /* div wrapping all sections */
	width: 100%;
	overflow: hidden;	
}
.position-icons .icon { /* What we do section, positioning icons*/
	position: relative;
	left: 45%;
	width: 10%;
}
 .table-box  { /*formming tables without border-top*/
    border: 1px solid #000;
	margin:5% 20% 5% 20%;
	width: 60%;
	border-top: none;	
}	
.table-box h2 {
	position:relative;
	line-height: 2px;
}
.table-box h2:before { /*adding lines before and after table headings*/
    position: absolute;
    display: table;
    height: 1px;
    content: " ";
    background-color: #000;
    width: 33%;
}
.table-box h2:after {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    content: " ";
    background-color: #000;
    width: 33%; 
}
.table-box p {
	padding: 0 50px 20px 50px;	
} 		/*End tables*/
/*Section Services*/
.services-wrap {
	background: url('../services.png') 0px 0px / contain no-repeat;
	background-size: 100%;
}
.services {
	color: #fff;
	border-color: #fff;
}
.services h2:before, .services h2:after { 
	background-color: #fff;
}
/*navigation bar with 6 boxes*/
nav {
	width: 100%;
	float: left;
}
.topworkz {
	width: 29%;
	background:  url('../img1.png') no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
	position: relative;
}
.joint {
	width: 40%;
	background: url('../img2.png') no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
}
.market {
	width: 29%;
	background:  url('../img3.png') no-repeat;
	background-size: 100%;
	float: left;
}
.worktop {
	width: 29%;
	background: url('../img4.png') no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
}
.lable {
	width: 40%;
	background:  url('../img5.png') no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 1%;
}
.kyiv {
	width: 29%;
	background: url('../img6.png') no-repeat;
	float: left;
}
.row {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.row h3 {
	padding-left: 30px;
	font-size: 1.5vw;
	text-transform: uppercase;
}
.row a {
	color: #fff;
	text-decoration: none;
}
.row a:hover {
	text-decoration: underline;
	text-shadow: 2px 2px black;
}/*	finish navigation */
footer { /* Footer Section*/
	width: 100%;
}
button {
	width: 40%;
	font: inherit;
  	line-height: 300%;
	margin: 0 30% 5% 30%;
	background-color: #3c3c3c;
	text-transform: uppercase;
	color: white;
	font-size: 1vw;
	border: none;
height:auto;
}
button:hover {
	font-size: 1.1vw;
}
.copy-wrap {
	width: 100%;
	position: relative;
}
.copy {
	width: 60%;
	margin: 0% 20% 5% 20%;
	position: relative;
}
.copy p:before {
	content: "";
	background: url('../logo-footer.png') 0px 0px / contain no-repeat;
	height: 47px;
	width: 5%;
	position: absolute;
	top: -50%;
	left: 25%;	
}
.cf {
	clear: left;
}
