body {
	width: 100%;
	height: 100%;
}

header {
	height: 1072px;
	position: relative;
	background: url('../header.png') 0px 0px / contain no-repeat;
	
}
.content {
	font: lato;
	text-align: center;
	margin-left: 450px;
	padding-top: 250px;
	color: white;
	width: 650px;
	text-transform: uppercase;	
	position: relative;
}
h1 {
	letter-spacing: 16px;
}
p {
	font-size: 17px;
	line-height: 10px;
}
.link {
	padding-top: 250px;
}
