
 h1 {
	margin: 3px;
	padding: 3px;
	width: 100%;
	height: 10%;
	font: Georgia;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
}

.main1, .main2 {
	float: left;
	position: relative;
	display: block;
	width: 25%;
	height: 70%;
	margin: 0px;
	padding: 0px;
}

.img {
	width: 25%;
	height: 70%;
	overflow: hidden;
	float: left;
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
}

.right {
	float: right;
	width: 15%;
	height: 70%;
	position: relative;
	display: block;

}

.hidden .main1 {
display: none;

}

.hidden .right {
display: none;

}

.hidden .main2 {
	width: 30%;
}
.hidden .img {
	width: 70%;
}